$red : #FF5050;
$white: #FFFFFF;
$black: #0D0D0D;
$pink: #FFF6F6;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin size_menu_icon {
    @include size(20px, 20px);
}

.btn {
    display: block;
    text-transform: uppercase;
}