$red : #FF5050;
$white: #FFFFFF;
$black: #0D0D0D;
$pink: #FFF6F6;
$greyLight: #F8F8F8;

$imgPath: '/public/images/';

$footerBlockSize: 6n;
$footerSzIc: 10px;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin size_menu_icon {
    @include size(20px, 20px);
}

@mixin img_responsive {
    max-width: 100%;
    object-fit: contain;
}

.btn {
    display: block;
    text-transform: uppercase;
    padding: 20px 45px;
    font-size: 16px;
}

.btn_red{
    background-color: $red;
    color: $white;
}

.btn_white{
    background-color: $white;
    color: $black;
}

@mixin pseudo_elem_sh($url, $size) {
    display: block;
    content: url($url);
}

@mixin pseudo_elem($url, $paddingBottom, $size){
    @include pseudo_elem_sh($url, $size);
    padding-bottom: $paddingBottom;
}

@mixin textOp {
    opacity: 0.6;
}

@mixin grid_nmb($start, $end)  {
    grid-column-start: $start;
    grid-column-end: $end;
}