@use 'extent';

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@media screen and (max-width: 1365px) {
    .promo__img {
        width: 700px;
        max-width: none;
    }

    .offer {
        &__container {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1000px) {

    .container {
        max-width: 80%;
    }

    .promo__img {
        display: none;
    }

    .subscribe {
        &__gallery {
            grid-template-columns: 1fr 1fr;
        }

        &__text {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 12px;
    }

    .menu_link {
        margin-right: 10px;
    }

    .promo {
        &__img {
            display: block;
            max-width: 100%;
        }

        &__block {
            flex-direction: column;
        }

        &__container {
            margin: 0 auto;
        }

        &__header {
            margin-bottom: 20px;
        }
    }

    .offer {
        &__block {
            flex-direction: column;
        }
    }

}

@media screen and (max-width: 720px) {

    @mixin size_menu_icon {
        @include size(20px, 20px);
    }

    .container {
        max-width: 90%;
    }

    .block-st {
        width: 90%;
    }

    .menu {
        &__block {
            margin-top: 20px;
        }

    }

    .menu_mobile {
        display: none;
    }

    .header {
        margin: 20px;

        &_link {
            flex: 0.1;
            margin-right: 10px;
        }

        &_link:last-child {
            margin-right: 0;
        }
    }

    .logo {
        flex-grow: 0.6;
    }

    .search {
        order: -1;
    }

    .menu_mobile {
        order: -2;
    }

    /* PROMO */

    .promo {
        &__container {
            width: 80%;
            padding-top: 50px;
            margin: 0 auto;
        }

        &__header {
            max-width: 335px;
            text-align: center;
            align-self: center;
            display: flex;
            flex-direction: column;
        }

        &__header_title {
            margin-bottom: 20px;
            font-size: 60px;
        }

        &__header_text {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 150%;
        }

        &__header_btn {
            align-self: center;
            padding: 15px 35px;
        }

        &__photo {
            width: 440px;
            overflow: hidden;
        }
    }

    /* OFFER */
    .offer {

        &__container {
            padding: 70px 20px;
        }

        &__header {
            margin-bottom: 30px;
        }

        &__conditions_condition {
            margin-bottom: 14px;
        }
    }

    /*BOX*/

    .box {
        &__container {
            margin: 10px 20px 0px 20px;
            padding: 60px 0;
        }

        &__block {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        &__clauses,
        &__header {
            align-self: center;
        }

        &__header {
            display: block;
            margin-bottom: 30px;
        }

        &__header {
            width: 70%;
        }

        &__clauses {
            margin-bottom: 50px;
        }

        &__gallery {
            max-width: 100%;
            object-fit: contain;
        }
    }

    /*PLUS*/
    .plus {
        &__container {
            margin-top: 70px;
            padding: 70px 20px 30px 20px;
        }

        &__header {
            margin-bottom: 40px;
        }

        &__gallery {
            flex-direction: column;
        }

        &__card {
            margin-bottom: 30px;
        }
    }

    .plus__card {
        .view {
            margin-bottom: 20px;
        }

        .view__text {
            padding: 20px 0 25px 0;
            font-size: 22px;
        }
    }

    /*GOOD FOR */
    .goodFor {
        &__container {
            padding: 70px 10px;
        }

        &__header__text_strong {
            margin-bottom: 20px;
        }

        &__header {
            margin-bottom: 30px;
        }

        &__text {
            max-width: 300px;
            margin-bottom: 80px;
        }

        &__list {
            flex-direction: column;
            padding: 30px;
        }

        &__point {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .subscribe {
        font-size: 1.2em;

        &__block {
            padding: 70px 10px;
            flex-direction: column;
        }

        &__header,
        &__text {
            margin-bottom: 30px;
        }

        &__gallery {
            grid-template-columns: none;
            row-gap: 70px;
        }

        &__text_bottom-m {
            margin-top: 60px;
        }
    }

    .subscribe__card {
        &_p {
            padding: 20px 20px 0 20px;
        }

        .plan {
            margin-bottom: 10px;
        }
    }

    .benefits {

        &_link-m {
            margin-bottom: 5px;
        }
    }
}