@use 'extent';

$headerSecond: 36px;

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/Roboto-Medium.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: extent.$black;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    max-width: 1220px;
    width: 70%;

    &-pr {
        max-width: 90%;
    }
}

.header-2 {
    text-transform: uppercase;
    font-size: 2.4em;
}

.text-st,
.ops {
    opacity: 0.6;
}

.text_bold {
    font-weight: 600;
}

.text_upper {
    text-transform: uppercase;
}

.text-hint {
    display: none;
}

.center {
    margin: 0 auto;
}

.block-st {
    width: 85%;
    margin: 0 auto;
}

.header__block {
    .container {
        margin: 0 auto;
    }
}


.menu_mobile::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url("#{extent.$imgPath}menu.svg");
}

.search::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('#{extent.$imgPath}search.svg');
}

.like::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('#{extent.$imgPath}get.svg');
}

.shop::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('#{extent.$imgPath}shop.svg');
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    &_link {
        flex-grow: 0.04;
        margin-right: 20px;
    }

    &_link:last-child {
        margin-right: 0;
    }
}

.logo {
    flex-grow: 0.55;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.16;

    &__link {
        margin-right: 20px;
    }

    &_mobile::after {
        display: none;
    }
}

/*PROMO*/

.promo {
    background-color: extent.$red;
    color: extent.$white;

    &__container {
        overflow: hidden;
        width: 80%;
        padding: 100px 0px;
        margin: 0 0 0 auto;
    }

    &__block {
        display: flex;
    }

    &__header {
        max-width: 380px;
    }

    &__header_title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 80px;
        line-height: 91%;
    }

    &__header_text {
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 26px;
    }

    &__img {
        max-width: 100%;
    }

    &__photo {
        background-image: url('#{extent.$imgPath}snow.svg');
    }
}


/* OFFER */
.offer {
    &__container {
        width: 65%;
        margin: 0 auto;
        padding: 100px 20px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        font-size: 36px;
        max-width: 420px;
        margin-right: 10px;
    }

    &__header_color {
        color: extent.$red;
    }

    &__conditions {
        opacity: 0.6;
        max-width: 600px;
    }

    &__conditions_condition {
        display: block;
        margin-bottom: 20px;
        background: url('#{extent.$imgPath}tick.svg') no-repeat 20px;
        background-position: 0 0;
        padding-left: 36px;
    }
}

/*BOX*/

.box {
    &__container {
        background-color: extent.$pink;
        padding: 75px 5px;
    }

    &__block {
        display: flex;
        justify-content: center;
    }

    &__header {
        display: block;
    }

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 10px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
    }

    &__clauses {
        width: 80%;
    }

    &__clauses,
    &__header {
        align-self: flex-start;
    }

    &__clause {
        display: block;
        margin-bottom: 20px;
        background-position: 0 0;
        padding-left: 40px;
    }

    &__clause:nth-child(4n+1) {
        background: url('#{extent.$imgPath}greenpoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+2) {
        background: url('#{extent.$imgPath}orangepoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+3) {
        background: url('#{extent.$imgPath}bluepoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+4) {
        background: url('#{extent.$imgPath}pinkpoint.svg') no-repeat 5px;
    }

    &__gallery {
        max-width: 100%;
        object-fit: contain;
    }

}

/*PLUS*/
.plus {
    &__container {
        background-color: extent.$greyLight;
        margin-top: 100px;
        padding: 100px 10px;
    }

    &__header {
        text-align: center;
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
    }
}

.plus__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right: 20px;

    .view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        background-color: extent.$white;
        margin-bottom: 40px;
    }

    .view__img {
        display: block;
        @include extent.img_responsive();
    }

    .view__text {
        text-transform: uppercase;
        padding: 20px 0 20px 0;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
    }

    &__text {
        opacity: 0.6;
        display: block;
        margin-bottom: 0;
        margin-top: auto;
    }

    &:last-child {
        margin-right: 0;
    }
}


/* GOOD FOR */
.goodFor {
    &__container {
        padding: 100px 10px;
    }

    &__header__text_strong {
        font-size: 0.8em;
        color: extent.$red;
        display: block;
    }

    &__header {
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        background-color: extent.$pink;
        justify-content: space-between;
        padding: 80px 65px;

    }

    &__text {
        max-width: 350px;
        margin-bottom: 80px;
    }

    &__point {
        flex: 1;
        margin-right: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    $paddingIcon: 12px;
    $sizeIcon: 24px;

    &__point_img_one::before {
        @include extent.pseudo_elem('#{extent.$imgPath}delivery-truck.svg', $paddingIcon, $sizeIcon);
    }

    &__point_img_two::before {
        @include extent.pseudo_elem('#{extent.$imgPath}medal.svg', $paddingIcon, $sizeIcon);
    }

    &__point_img_third::before {
        @include extent.pseudo_elem('#{extent.$imgPath}package.svg', $paddingIcon, $sizeIcon);
    }

    &__point_img_four::before {
        @include extent.pseudo_elem('#{extent.$imgPath}package.svg', $paddingIcon, $sizeIcon);
    }
}

/* SUBSCRIBE */

.subscribe {
    font-size: 1.2em;

    &__container {
        background-color: extent.$greyLight;
    }

    &__block,
    &__gallery {
        background-color: inherit;
    }

    &__block {
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header,
    &__text,
    &__text_bottom {
        display: block;
        align-self: center;
        text-align: center;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px 20px;
    }

    &__text_bottom-m {
        margin-top: 60px;
    }
}

.subscribe__card {
    background-color: extent.$white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &_p {
        padding: 20px 20px 0 20px;
    }

    .plan {
        display: block;
    }

    &_btn {
        translate: 0 50%;
        align-self: center;
    }

    .price_valute {
        font-size: 1.5em;
    }

    .price_value {
        font-size: 2.2em;
    }

    .price_interval {
        @include extent.textOp()
    }

    .card__good {
        object-fit: contain;
        max-width: 100%;
    }

}

.benefits {
    &-m {
        margin-top: 20px;
    }

    &_head {
        margin-bottom: 10px;
    }

    &_link {
        display: block;
    }

    &_link-m {
        margin-bottom: 8px;
    }

    &_link-none {
        @include extent.textOp();
    }

    &_link-none,
    &_link-ok {
        background-position: 0 0;
    }

    &_link-none::before,
    &_link-ok::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 20px;
        background-image: url('#{extent.$imgPath}get.svg');
    }

    &_link-none::before {
        background-image: url('#{extent.$imgPath}none.svg');
    }

    &_link-ok::before {
        background-image: url('#{extent.$imgPath}checked.svg');
    }
}

.footer {
    background-color: extent.$black;
    color: extent.$white;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 100px 10px;
        gap: 30px 40px;
    }

    &_line {
        height: 3px;
        width: 100%;
    }

    &__email {
        display: flex;
        justify-content: center;
        max-width: 250px;
        flex-direction: column;
    }

    .email_label,
    .email {
        display: block;
        margin-bottom: 30px;
    }

    .email {
        width: 100%;
        padding: 10px 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px extent.$white solid;
        background: extent.$black;
        color: extent.$white;
    }

    &::placeholder {
        opacity: 0.6;
    }

    &__logo {
        display: block;
    }

    .logo_img {
        background-color: white;
    }
}

.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_link {
        display: block;
    }

    &_fb::before {
        @include extent.pseudo_elem_sh('#{extent.$imgPath}fb.svg', extent.$footerSzIc);
    }

    &_in::before {
        @include extent.pseudo_elem_sh('#{extent.$imgPath}fb.svg', extent.$footerSzIc);
    }

    &_ln::before {
        @include extent.pseudo_elem_sh('#{extent.$imgPath}fb.svg', extent.$footerSzIc);
    }

    &_tw::before {
        @include extent.pseudo_elem_sh('#{extent.$imgPath}fb.svg', extent.$footerSzIc);
    }

    &_yt::before {
        @include extent.pseudo_elem_sh('#{extent.$imgPath}fb.svg', extent.$footerSzIc);
    }

    &-p {
        padding: 5px;
    }
}

.sticy {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 10px;
    flex-wrap: wrap;

    &_copyright {
        margin-right: 10px;
    }

    &_copyright,
    &_privacy {
        font-size: 10px;
        display: block;
    }
}