@use 'extent';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: extent.$black;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 80%;
}

.header__block {
    .container {
        margin: 0 auto;
    }
}


.menu_mobile::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('/public/images/menu.svg');
}

.search::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('/public/images/search.svg');
}

.like::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('/public/images/get.svg');
}

.shop::after {
    content: '';
    display: block;
    @include extent.size_menu_icon();
    background-image: url('/public/images/shop.svg');
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    &_link {
        flex-grow: 0.04;
        margin-right: 20px;
    }

    &_link:last-child {
        margin-right: 0;
    }
}

.logo {
    flex-grow: 0.55;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.16;

    &__link {
        margin-right: 20px;
    }

    &_mobile::after {
        display: none;
    }
}

/*PROMO*/

.promo {
    background-color: extent.$red;
    color: extent.$white;

    &__container {
        overflow: hidden;
        width: 80%;
        padding: 100px 0px;
        margin: 0 0 0 auto;
    }

    &__block {
        display: flex;
    }

    &__header {
        max-width: 380px;
    }

    &__header_title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 80px;
        line-height: 91%;
    }

    &__header_text {
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 26px;
    }

    &__header_btn {
        background-color: extent.$white;
        color: extent.$black;
        padding: 20px 45px;
        font-size: 16px;
    }

    &__img {
        max-width: 100%;
    }

    &__photo {
        background-image: url('/public/images/snow.svg');
    }
}


/* OFFER */
.offer {
    &__container {
        width: 65%;
        margin: 0 auto;
        padding: 100px 20px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        font-size: 36px;
        max-width: 420px;
        margin-right: 10px;
    }

    &__header_color {
        color: extent.$red;
    }

    &__conditions {
        opacity: 0.6;
        max-width: 600px;
    }

    &__conditions_condition {
        display: block;
        margin-bottom: 20px;
        background: url('/public/images/tick.svg') no-repeat 20px;
        background-position: 0 0;
        padding-left: 36px;
    }
}

/*BOX*/

.box {
    &__container {
        background-color: extent.$pink;
        padding: 75px 5px
    }

    &__block {
        display: flex;
        justify-content: center;
        width: 85%;
        margin: 0 auto;
    }

    &__header {
        display: block;
        text-transform: uppercase;
        font-size: 36px;
    }

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 10px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
    }

    &__clauses {
        width: 80%;
    }

    &__clauses,
    &__header {
        align-self: flex-start;
    }

    &__clause {
        display: block;
        margin-bottom: 20px;
        background-position: 0 0;
        padding-left: 40px;
    }

    &__clause:nth-child(4n+1) {
        background: url('/public/images/greenpoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+2) {
        background: url('/public/images/orangepoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+3) {
        background: url('/public/images/bluepoint.svg') no-repeat 5px;
    }

    &__clause:nth-child(4n+4) {
        background: url('/public/images/pinkpoint.svg') no-repeat 5px;
    }

    &__gallery {
        max-width: 100%;
        object-fit: contain;
    }

}